<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial "includes/layout/head" %>
  </head>
  <body>
    <main>
      <!-- Navigation -->
      <!-- Header -->
      <% if event.header %>
        <%= partial "includes/cms/event/slp-header" %>
      <% end %>
      <!-- Video -->
      <% if event.featured_video %>
        <%= partial "includes/cms/event/slp-video", locals: { video_data: event.featured_video } %>
      <% end %>
      <!-- Video carousel -->
      <% if event.video_carousel %>
        <%= partial "includes/cms/event/slp-video", locals: { video_data: event.video_carousel } %>
      <% end %>
      <!-- Copy and image block -- two column -->
      <% if event.copy_1 %>
        <%= partial "includes/cms/event/slp-event-copy", locals: { copy_block: event.copy_1 } %>
      <% end %>
      <!-- List block -->
      <% if event.block_list_1 %>
        <%= partial "includes/cms/event/slp-block-list", locals: { block_list: event.block_list_1 } %>
      <% end %>
      <!-- Copy block -- heavy -->
      <% if event.copy_2 %>
        <%= partial "includes/cms/event/slp-event-copy", locals: { copy_block: event.copy_2 } %>
      <% end %>
      <!-- List block -->
      <% if event.block_list_2 %>
        <%= partial "includes/cms/event/slp-block-list", locals: { block_list: event.block_list_2 } %>
      <% end %>
      <!-- Copy block -- heavy -->
      <% if event.copy_3 %>
        <%= partial "includes/cms/event/slp-event-copy", locals: { copy_block: event.copy_3 } %>
      <% end %>
      <!-- CTAs -->
      <% if event.cta %>
        <%= partial "includes/cms/event/slp-cta" %>
      <% end %>
      <!-- Video carousel -->
      <% if event.video_carousel %>
        <%= partial "includes/cms/event/slp-video", locals: { video_data: event.video_carousel } %>
      <% end %>
      <!-- Countdown -->
      <% if event.countdown %>
        <%= partial "includes/cms/event/slp-countdown" %>
      <% end %>
      <!-- Speakers -->
      <% if event.speakers %>
        <%= partial "includes/cms/event/slp-speakers", locals: { heading: event.speakers_heading, subheading: event.speakers_subheading, body: event.speakers_body, speakers_are_current: event.speakers_are_current, speakers: event.speakers } %>
      <% end %>
      <!-- Benefits -->
      <% if event.benefits %>
        <%= partial "includes/cms/event/slp-benefits", locals: { heading: event.tracks_heading, body: event.tracks_body, tracks: event.tracks } %>
      <% end %>
      <!-- Schedule: this will be an iframe to an external resource -->
      <!-- Partners -->
      <% if event.partners_tiers %>
        <%= partial "includes/cms/event/slp-partners", locals: { heading: event.partners_heading, body: event.partners_body, cta_text: event.partners_cta_text, cta_link: event.partners_cta_link, tiers: event.partners_tiers } %>
      <% end %>
      <!-- Card section with no images -->
      <% if event.cards_section %>
        <%= partial "includes/cms/event/slp-card", locals: { section: event.cards_section } %>
      <% end %>
      <!-- Card section with images -->
      <% if event.cards_section_two %>
        <%= partial "includes/cms/event/slp-card", locals: { section: event.cards_section_two } %>
      <% end %>
      <!-- Get in touch -->
      <% if event.connect %>
        <%= partial "includes/cms/event/slp-connect" %>
      <% end %>
      <!-- Announcement -->
      <% if event.announcement %>
        <%= partial "includes/cms/event/slp-announcement" %>
      <% end %>
      <!-- CTA -->
      <% if event.cta_3up %>
        <%= partial "includes/cms/event/slp-cta-3up" %>
      <% end %>
    </main>
    <script data-cookieconsent="ignore" src="/javascripts/slippers-event-countdown.js" type="text/javascript"></script>
    <script data-cookieconsent="ignore" src="/javascripts/slippers-event-speaker.js" type="text/javascript"></script>
    <style>
      svg {
        fill: white!important;
      }
    </style>
  </body>
</html>
